.language-select i {
    font-size: 18px !important;
    height: 30px !important;;
    line-height: 30px !important;;
}

.language-select button {
    margin-right: 10px;
    height: 36px;
    font-size: 12px !important;
}
