*.class
*.log

.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/plugins/project/

webapp/node_modules
webapp/build
webapp/coverage
webapp/.DS_Store
webapp/.env
webapp/npm-debug.log

.idea

